:root {
  --light-blue: #3F8EFC
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
  min-height: 100vh;
}

aside {
  background: linear-gradient(to right, #3392FF, #2f6eff);
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  display: grid;
  grid-template-rows: 1fr 4fr 4fr;
  grid-row: 1 / -1;
}

aside ul {
  list-style: none;
  display: grid;
  align-content: center;
  gap: 10px;
}

aside img {
  width: 25px;
  height: 25px;
}

aside a {
  display: inline-grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: 1fr 4fr;
  cursor: pointer;
}

aside a,
aside p {
  width: min-content;
}

.aside-second-list {
  align-content: flex-start;
}

nav {
  padding: 10px;
  background-color: white;
  position: relative;
  display: grid;
  grid-template: 1fr 1fr / 2.5fr 1fr;
  box-shadow: 2px 1px 5px rgb(0 0 0 / 32%);
  z-index: 1;
}

nav img {
  height: 25px;
  width: 25px;
  justify-self: flex-end;
  cursor: pointer;
}

.search-section {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
}

.search-section input {
  background-color: #dfe7f5;
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 25px;
}

section {
  background-color: #dfe7f5;
}

.aside-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.aside-header .logo {
  width: 50px;
  height: 50px;
}

.aside-header p {
  font-size: 1.3rem;
}

.profile-icon {
  width: 40px;
  height: 40px;
}

.profile-section {
  color: black;
  font-weight: bold;
  display: inline-grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}

.profile-section p {
  white-space: nowrap;
}